<!DOCTYPE html>
<html>
<head>
  <title>Add Student</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      text-align: center;
      padding: 2rem 0;
      background-color: #33475b;
      color: white;
    }

    form {
      max-width: 500px;
      margin: 40px auto;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"], input[type="date"], input[type="number"] {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ccc;
    }

    button[type="submit"] {
      background-color: #337ab7;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #23527c;
    }

    a {
      display: block;
      padding: 10px;
      background-color: #337ab7;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.2s ease;
    }

    a:hover {
      background-color: #23527c;
    }
  </style>
</head>
<body>
  <h1>Add Student</h1>
  <form action="/student_input" method="POST">
    <label for="stud_name">Name:</label>
    <input type="text" id="stud_name" name="stud_name"><br>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender"><br>
    <label for="dob">DOB:</label>
    <input type="date" id="dob" name="dob"><br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age"><br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address"><br>
    <label for="contact">Contact:</label>
    <input type="text" id="contact" name="contact"><br>
    <button type="submit">Add Student</button>
  </form>
  <br>
  <a href="/student_display">View Students</a>
</body>
</html>
